<footer class="rodape bg-primary my-4">
    <center>
      <div class="social-icons">
        <a href="mailto:daltonphellipe@gmail.com" ><i class="fa fa-envelope fa-lg"></i></a>
        <a href="http://github.com/daltonfelipe/energysaver" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      </div>
      <p>Energysaver | 2017 - UFOPA</p>
    </center>
</footer>