<!DOCTYPE html>
<html lang="pt-br">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <body>
    <main class="conteiner">
      <div class="servicos">
        <article class="servico">
          <div class="servico-title bg-darkgray">
            <h4>Flexibilidade</h4>
          </div>
          <img src="img/database.png" />
            <div class="inner bg-darkgray">
              <h5>Banco de dados</h5>
              <p>
                Armazene e gerencie os dados em um banco de dados e
                acompanhe a coleta dos dados em qualquer lugar.
              </p>
            </div>
        </article>
        <article class="servico">
          <div class="servico-title bg-darkgray">
            <h4>Servidor rápido</h4>
          </div>
          <img src="img/server.png" />
            <div class="inner bg-darkgray">
              <h5>Facilidade no acesso</h5>
              <p>
                Servidor leve e seguro, sem complicações
                e mistérios, desenvolvido para acesso rápido
                e imediato de qualquer dispositivo.
              </p>
            </div>
        </article>
        <article class="servico">
          <div class="servico-title bg-darkgray">
            <h4>Multiplataforma</h4>
          </div>
          <img src="img/computer.png" alt="" />
            <div class="inner bg-darkgray">
              <h5>Download dos dados</h5>
              <p>
                Faça download e utilize em diversos softwares,
                salve e compartilhe com quem quiser.
              </p>
            </div>
        </article>
        <article class="servico">
          <div class="servico-title bg-darkgray">
            <h4>Gráficos</h4>
          </div>
          <img src="img/data.png" alt="" />
            <div class="inner bg-darkgray">
              <h5>Análise gráfica</h5>
              <p>
                Analise em tempo real os dados coletados
                em graficos simples.
              </p>
            </div>
        </article>
      </div>
      <div class="slide">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <article class="servico">
                <div class="servico-title bg-darkgray">
                  <h4>Flexibilidade</h4>
                </div>
                <img src="img/database.png" alt="" />
                  <div class="inner bg-darkgray">
                    <h5>Banco de dados</h5>
                    <p>
                      Armazene e gerencie os dados em um banco de dados e
                      acompanhe a coleta dos dados em qualquer lugar.
                    </p>
                  </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="servico">
                <div class="servico-title bg-darkgray">
                  <h4>Multiplataforma</h4>
                </div>
                <img src="img/computer.png" alt="" />
                  <div class="inner bg-darkgray">
                    <h5>Download dos dados</h5>
                    <p>
                      Faça download e utilize em diversos softwares,
                      salve e compartilhe com quem quiser.
                    </p>
                  </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="servico">
                <div class="servico-title bg-darkgray">
                  <h4>Servidor rápido</h4>
                </div>
                <img src="img/server.png" alt="" />
                  <div class="inner bg-darkgray">
                    <h5>Facilidade no acesso</h5>
                    <p>
                      Servidor leve e seguro, sem complicações
                      e mistérios, desenvolvido para acesso rápido
                      e imediato de qualquer dispositivo.
                    </p>
                  </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="servico">
                <div class="servico-title bg-darkgray">
                  <h4>Gráficos</h4>
                </div>
                <img src="img/data.png" alt="" />
                  <div class="inner bg-darkgray">
                    <h5>Análise gráfica</h5>
                    <p>
                      Analise em tempo real os dados coletados
                      em graficos simples.
                    </p>
                  </div>
              </article>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </main>
  </body>
  <% include ../partials/footer %>
</html>
