<!Doctype html>
<html lang="pt-br">
  <head>
  <meta name="viewport" content="width=device-width, initial-escale=1">
	<title>Energy Saver</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css">
 
  <link rel="icon" href="imgs/icon.png" />
  <meta name="viewport" content="user-scalable=no">
  <script src="js/Chart.min.js"></script>
  </head> 
  <body>
    <header class="cabecalho">
      <h1 class="logo">
        <a href="index.html">Energy Saver</a> 
      </h1>
      <form method="get">
        <input class='search' type="search" placeholder="Pesquisar!">
        <button class='search'>Ir!</button>
      </form>
    </header>
    <nav class="menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/sobre">SOBRE</a></li>
        <li><a href="/comments">COMENTARIOS</a></li>
        <li><a href="/estatisticas">ESTATISTICAS</a></li>
      </ul>
    </nav>
    <main class="principal">
    <aside class="onde-estamos">
        <h2>Onde estamos</h2>
        <p>
          Reitoria: Rua Vera Paz<br>
          Unidade Tapajós<br>
          Bairro Salé  CEP 68035-110<br>
          Santarém, Pará, Brasil<br>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7972.526014028953!2d-54.74203024794674!3d-2.418979933848103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe21c2a5145318e8f!2sUFOPA+Campus+Tapaj%C3%B3s!5e0!3m2!1spt-BR!2sbr!4v1492003198243"></iframe> 
        <h2>Contatos</h2>
        <ul>
          <li>Tel: (xx)xxxx-xxxx</li>
          <li>Email: email@email.com</li>
        </ul>
      </aside>
      </main>
      <footer class="rodape">
        <p>Universidade Federal do Oeste do Pará - Ufopa</p><br>
        <p>© Energysaver - Uma distribuição Science & Tech</p>
      </footer>
  </body>
</html>
