<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Energysaver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Visa a diminuicao no cnsumo de energia eletrica">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.jpg">
    <script src="js/script.js"></script>
  </head>
  <body>
    <header class="cabecalho">
      <a href="/"><h1 class="logo">Energysaver</h1></a>
      <button class="btn-menu"><div class="bars"></div></button>
      <nav class="menu">
      <a class="btn-close">×</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/comments">Comentarios</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/dados">Dados</a></li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <div class="title">
        <h2>Unindo tecnologia, SUSTENTABILIDADE,</h2>
        <h3>Inovação e desenvolvimento</h3>
      </div>
      <div class="buttons">
        <a href='/feedback'>
        <button class="btn-feedback">Feedback</button>
        </a>
        <a href='/sobre'>
        <button class="btn-sobre">Sobre</button>
        </a>
      </div>
    </div>
    <main class="servicos">
      <article class="servico">
        <a href="#"><img src="img/custo.jpg">
        <div class="inner">
          <a href="#">Diminua os gastos</a>
          <h4>Menos disperdicios</h4>
          <p>Aproveite uma grana extra com menos consumo,
             invista em lazer ou outras atividades, tenha
             menos despezas ao final do mes e livre-se
             de altas contas.</p>
        </div>
      </article>
      
      <article class="servico">
        <a href="#"><img src="img/economia.png">
        <div class="inner">
          <a href="#">Tecnologia e Sustentabilidade</a>
          <h4>Reduza os gastos</h4>
          <p>Aprenda a controlar os gastos com uso excessivo
             de energia, ajude a diminuir a alta producao e o
             alto indice de impactos ambientais.</p>
        </div>
      </article>
      <article class="servico">
        <a href="#"><img src="img/raio.jpg">
        <div class="inner">
          <a href="#">Inovação e desenvolvimento</a>
          <h4>Use sua cabeça!</h4>
          <p>Pense mais acerca do conceito de inovação, invista seu conhecimento ao seu favor, desenvolva
          seu ambiente de trabalho e domestico.</p>
        </div>
      </article>
    </main>
    <footer class="rodape">
    <p>© 2017 | Energysaver, a Science & Tech distribuition.</p>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script>
      $(".btn-menu").click(function(){
        $(".menu").show();
      });
      $(".btn-close").click(function(){
        $(".menu").hide();
      });
    </script>
  </body>
</html>