<!Doctype html>
<html lang="pt-br">
  <head>
	<title>Energy Saver</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css">
  <link rel="icon" href='imgs/icon.png' />
  </head> 
  <body>
    <header class="cabecalho">
      <h1 class="logo">
        <a href="index.html"> Energy Saver</a> 
      </h1>
      <form method="post">
        <input type="search" placeholder="Pesquisar!">
        <button>Ir!</button>
      </form>
    </header>
    <nav class="menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/sobre">SOBRE</a></li>
        <li><a href="/comments">COMENTARIOS</a></li>
      </ul>
    </nav>
    <main class="principal">
      <article class="sobre">
        <h2>Sobre nós</h2>
        <img src="imgs/energia.jpg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Sed feugiat cursus mauris, nec pellentesque dui molestie ac. 
          Vivamus ac tempus mi. Suspendisse leo sit amet tincidunt. 
          Duis pulvinar augue vel orci ultricies, eu commodo lorem egestas. 
          Mauris pellentesque porttitor mauris. Nullam varius ipsum interdum porttitor tristique.
          <br><br>
          In fermentum, turpis rutrum placerat luctus, urna dolor efficitur neque, nec consequat tellus massa vitae eros. 
          Proin pretium quam risus, eget pulvinar arcu vehicula eu. Maecenas venenatis quam sem, 
          ut lobortis magna varius eget. Cras mollis non nunc et ultrices. 
          Sed quis auctor mauris. Integer aliquam, dolor a bibendum mattis, 
          diam nibh semper orci, a dapibus dolor odio quis lorem. Suspendisse 
          scelerisque massa sit amet tellus egestas tincidunt. Sed odio risus, 
          finibus a posuere in, aliquam ac ipsum.

        </p>
      </article>
      <aside class="onde-estamos">
        <h2>Onde estamos</h2>
        <p>
          Reitoria: Rua Vera Paz<br>
          Unidade Tapajós<br>
          Bairro Salé  CEP 68035-110<br>
          Santarém, Pará, Brasil<br>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7972.526014028953!2d-54.74203024794674!3d-2.418979933848103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe21c2a5145318e8f!2sUFOPA+Campus+Tapaj%C3%B3s!5e0!3m2!1spt-BR!2sbr!4v1492003198243"></iframe> 
        <h2>Contatos</h2>
        <ul>
          <li>Tel: (93)991924014</li>
          <li>Email: daltonphellipe@gmail.com</li>
        </ul>
      </aside>
      </main>
      <footer class="rodape">
        <p>Universidade Federal do Oeste do Pará - Ufopa</p><br>
        <p>© Energysaver - Uma distribuição Science & Tech</p>
      </footer>
  </body>
</html>
