<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Energysaver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Visa a diminuicao no consumo de energia eletrica">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.jpg">
  </head>
  <body>
    <header class="cabecalho">
      <a href="/"><h1 class="logo">Energysaver</h1></a>
      <button class="btn-menu"><div class="bars"></div></button>
      <nav class="menu">
      <a class="btn-close">×</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/comments">Comentarios</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/dados">Dados</a></li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <div class="title">
        <h2>Unindo tecnologia e sustentabilidade!</h2>
        <h3>Faça-nos um comentário</h3>
      </div>
      <div class="buttons">
        <a href='/feedback'>
        <button class="btn-feedback">Feedback</button>
        </a>
        <a href='/index'>
        <button class="btn-sobre">Home</button>
        </a>
      </div>
    </div>
    <main class="servicos">
      <article class="sobre">
        <h2>Sobre nós</h2>
        <img src="img/energia.jpg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Sed feugiat cursus mauris, nec pellentesque dui molestie ac. 
          Vivamus ac tempus mi. Suspendisse leo sit amet tincidunt. 
          Duis pulvinar augue vel orci ultricies, eu commodo lorem egestas. 
          Mauris pellentesque porttitor mauris. Nullam varius ipsum interdum porttitor tristique.
          <br><br>
          In fermentum, turpis rutrum placerat luctus, urna dolor efficitur neque, nec consequat tellus massa vitae eros. 
          Proin pretium quam risus, eget pulvinar arcu vehicula eu. Maecenas venenatis quam sem, 
          ut lobortis magna varius eget. Cras mollis non nunc et ultrices. 
          Sed quis auctor mauris. Integer aliquam, dolor a bibendum mattis, 
          diam nibh semper orci, a dapibus dolor odio quis lorem. Suspendisse 
          scelerisque massa sit amet tellus egestas tincidunt. Sed odio risus, 
          finibus a posuere in, aliquam ac ipsum.
        </p>
      </article>
    </main>
    <footer class="rodape">
    <p>© 2017 | Energysaver, a Science & Tech distribuition.</p>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script>
      $(".btn-menu").click(function(){
        $(".menu").show();
      });
      $(".btn-close").click(function(){
        $(".menu").hide();
      });
    </script>
  </body>
</html>