/*
 #5f5f5f;--> cinza
 #ffff00;--> amarelo
 #1a8cff;--> azul
 #ffffff;--> branco
 #33cc33;--> verde
 */
 body{
   font-family: arial;
 }
/*logo da pagina*/
div.logo{
    height: 10%;
    text-decoration: strong;
    background-color: #5f5f5f;
    font-size: 24pt;
    font-family: arial;
    color: #ffffff;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: solid 5px #ffff00;
    width:100%;
    padding-bottom: 5px;
    font: bold;
}

span.logo_blue{
  color: #1a8cff;
}
span.logo_ylw{
  color: #ffff00;
}
/*conteiner das paginas*/
div.pages{
    background-color: #1a8cff;
    font-family: arial;
    /*color: #ffffff;*/
    padding:10px;
    height: 40px;
}
/* Links paginas */
a{
    text-decoration: none;
}
a:link{
    color: #ffffff;
}
a:hover{
    color: #262626;
}

a:visited{
    color: #ffff00;
}
/* Conteiner dos links */
span.item{
    font-size:14pt;
    padding-left:20px;
    padding-right:20px;
}
/* paragrafos da homepage */
p.home_prgph{
    text-align: justify;
    width:50%;
    font-size:14pt;
    padding:5px;
}

p.sobre_prgph{
    text-align: justify;
    width:60%;
    font-size:14pt;
    padding:5px;
    color: #ffffff;
}

/*imagens da homepage */
img.home_imgs{
    width:250px;
    float:center;
    display:block;
    border: solid 5px #5f5f5f;
    border-radius:100%;
}

/*  titulos da home page    */
h2{
  font-family: arial;
}
/*separadores de varias cores */
hr.sample{
    border: 0.5px solid #ccc;
}
hr.spl_tiny{
    border: 0.5px solid #ccc;
    width: 60%;
}

hr.bkyllw{
    border: solid 3px #ffff00;
}
hr.bkblue{
    border: solid 3px #1a8cff;
    width:65%;
}
hr.bkgrey{
    border: solid 3px #5f5f5f;
    width:65%;
}
hr.bkdkble{
    border: solid 3px #0066cc;
    width:85%;
}

div.footer{
    height: 150px;
}
footer{
    background-color: #5f5f5f;
    color: #ffffff;
}
img.sobre_imgs{
    width:250px;
    float:center;
    display:block;
    border-radius:100%;
}


div.box-chart {
    width: 500px;
    padding: 10px;
}

div.signin{
    width: 50%;
}

label.login{
    font-family: arial;
    float: left;
}

input.sign{
    float: right;
}

legend.visual{
    font-family: arial;
    font-size: 14pt;
}
fieldset.visual_field{
    width:50%;
}

fieldset.login_field{
    width:20%;
}
